body {
    background-color: #343838;
}

h1 {
    color: #00DFFC;
}

a, h3, h5 {
    color: #00DFFC;
}

a {
    cursor: pointer;
}

p {
  color: #00B4CC;
  font-size: 18px;
  font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

footer, nav, ul
{
    background-color: #005F6B;
}

#headerPadding {
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    background-color: #005F6B;
    opacity: 0.95;
}

#settings {
    cursor: pointer;
	width:10%;
}

.button {
    padding: 10px;
}

.w3-wide {
	letter-spacing: 10px;
	}

.w3-hover-opacity {
	cursor: pointer;
}
